<% if @user.errors.full_messages.any? %>
<h3><strong>The register form has <%= pluralize(@user.errors.count, "error") %>:</strong></h3>
<% @user.errors.full_messages.each do |error_message| %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
       <%= error_message  %> <br />
    </div>
 <% end %>
<% end %>